:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
  --yellow: hsl(47, 88%, 63%);
  /* Font styles */
  /* Desktop fonts */
  --heading-desktop: 800 1.5rem/1.5 "Figtree", sans-serif; /*title*/
  --body-M-desktop: 500 1rem/1.5 "Figtree", sans-serif; /*description */
  --body-S-bold-desktop: 800 0.875rem/1.5 "Figtree", sans-serif; /*category, author(mobile too) */
  --body-S-reg-desktop: 500 0.875rem/1.5 "Figtree", sans-serif; /*publish date */
  /* Mobile fonts */
  --heading-mobile: 800 1.25rem/1.5 "Figtree", sans-serif; /*title*/
  --body-M-mobile: 500 0.875rem/1.5 "Figtree", sans-serif; /*description */
  --body-S-bold-mobile: 800 0.75rem/1.5 "Figtree", sans-serif; /*category */
  --body-S-reg-mobile: 500 0.75rem/1.5 "Figtree", sans-serif; /*publish date */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-card {
  background-color: var(--white);
  height: 522px;
  width: 384px;
  padding: 1.5rem;
  border-radius: 1.25rem;
  border: 1px solid var(--black);
  box-shadow: 8px 8px var(--black);
  transition: box-shadow 250ms;
}

.blog-card:hover {
  box-shadow: 16px 16px var(--black);
  cursor: pointer;
}

.blog-card:hover .title {
  color: var(--yellow);
}

.card-top,
.card-content {
  margin-bottom: 24px;
}

.blog-img {
  width: 21rem;
  height: 12.5rem;
  border-radius: 0.625rem;
  object-fit: fill;
}

.category,
.publish-date,
.title {
  margin-bottom: 12px;
}

.category {
  display: inline-block;
  border-radius: 4px;
  padding: 4px 12px;
  background-color: var(--yellow);
  font: var(--body-S-bold-desktop);
}

.publish-date {
  font: var(--body-S-reg-desktop);
}

.title {
  font: var(--heading-desktop);
  transition: color 250ms;
}

.description {
  color: var(--grey);
  font: var(--body-M-desktop);
}

.card-bottom {
  display: flex;
  align-items: center;
}

.user-img {
  width: 2rem;
  height: 2rem;
}

.author-name {
  display: inline-block;
  font: var(--body-S-bold-desktop);
  padding-left: 12px;
}

/* Mobile Styles */

@media screen and (max-width: 450px) {
  .blog-card {
    width: 327px;
    height: 501px;
  }

  .card-top {
    width: 279px;
    height: 200px;
  }

  .blog-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .category {
    font: var(--body-S-bold-mobile);
  }

  .publish-date {
    font: var(--body-S-reg-mobile);
  }

  .title {
    font: var(--heading-mobile);
  }

  .description {
    font: var(--body-M-mobile);
  }
}
